h1 {
  font-size: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 35px;
  
}


#layout-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px auto 100px;
  background-color: #ade8f4;
}

#layout-2 {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	background-color: #FFA200;
}

#layout-3 {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 300px;
	grid-row-gap: 20px;
	background-color: #FFDAB9;
}
body{
	background-color: lightgreen;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

ul li{
    padding: 50px;
}


header {
  text-align: center;
  background-color: #32cd32;
  grid-column-start: 1;
  grid-column-end: 1;
  
}
nav {
  background-color: yellow;
  padding: 50px;

  
}
main {
  background-color: red;
  color: white;
  font-size: 25px;
  padding: 30px;
  grid-column-start: 1;
  grid-column-end: 8;
}

footer {
  text-align: center;
  background-color: darkgoldenrod;
  color: white;
  font-size: 25px;
  padding: 30px;
  grid-area:footer;
  grid-column-start: 1;
  grid-column-end: 8;
}